{% extends "layout.html" %}
{% block body %}
<div class='form'>
{% for i in all_todo %}
ID: {{ i.id }}
<br>
Task: {{ i.task }}
<br>

Complete: {{ i.complete }}
{% if i.complete == True %}
&#9989
{% endif %}
{% if i.complete == False %}
&#10060
{% endif %}
<br>
    <form method='POST' action="{{ url_for('complete', id = i.id) }}">
        {{ form.hidden_tag() }}
        {{ form.complete }}
    </form>
    <form method='POST' action="{{ url_for('incomplete', id = i.id) }}">
        {{ form.hidden_tag() }}
        {{ form.incomplete }}
    </form>
    <form method='POST' action="{{ url_for('delete', id = i.id) }}">
        {{ form.hidden_tag() }}
        {{ form.delete }}
    </form>
<br>
<br>
{% endfor %}
</div>
{% endblock body %}